<!DOCTYPE html>
<html lang="en">
<head>
<title>Page Title</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="http://localhost:6544/static/css1/home.css" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="header">
  <h1>My Website</h1>
  <p>A website created by me.</p>
</div>

<div class="navbar" id="myTopnav">
  <a href="#Home" class="active">Home</a>
  <a href="#About">About</a>
  <a href="#">Contact</a>
  <a href="#" class="right">Logo</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</div>

<div class="row">
  <div class="side">
      <h2>About Me</h2>
      <h5>Photo of me:</h5>
      <div class="fakeimg" style="height:200px;">Image</div>
      <p>Some text about me in Middlesex Malta......</p>
      <h3>More Text</h3>
      <p>What do i know</p>
      <div class="fakeimg" style="height:60px;">Image</div><br>
      <div class="fakeimg" style="height:60px;">Image</div><br>
      <div class="fakeimg" style="height:60px;">Image</div>
  </div>
  <div class="main">
      <h2>TITLE HEADING</h2>
      <h5>Title description, March 3, 2018</h5>
      <div class="fakeimg" style="height:200px;">Image</div>
      <p>Some text..</p>
      <p>I am already tired, cant wait for it to end</p>
      <br>
      <h2>TITLE HEADING</h2>
      <h5>Title description, March 4, 2018</h5>
      <div class="fakeimg" style="height:200px;">Image</div>
      <p>Some text..</p>
      <p>I am still very tired of it all .......... </p>
  </div>
</div>

<div class="footer">
  <h2>Footer</h2>
</div>
<script src="http://localhost:6544/static/js/home_js.js"></script>
</body>
</html>
