<!DOCTYPE html>
<html lang="en">
<head>
<title>Page Title</title>
<meta charset="UTF-8">
<link rel="stylesheet" href='{{ request.static_url('back_end_v2:static/css1/css1/home.css') }}' type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="navbar" id="myTopnav">
  
 <a href="#contact">Contact</a>
 <a href="#About">About</a>
  <a href="#Home" class="active">Home</a>
  <div class="logo">Logo</div>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</div>

<div class="header">
  <h1>My Website</h1>
  <p>A website created by me.</p>
</div>

<hr class="hr-tag"> </hr>


<div id="Home" class="row">

  <div class="main">
      <h2 class="about-app"> XYZ Application</h2>
      <h5 class="app-desc">Title description, March 3, 2018</h5>

	  <div class="fakeimg" width="100%">
  <form id="labnol" method="POST" action="http://localhost:6544/home">
      <div class="fakeimg-part"><div class="fakeimg-text speech"><textarea id="transcript" readonly="readonly" placeholder="Speak" name="transcript_value" rows="4" cols="50"> “Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
	  totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.
	  Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos,
	  qui ratione voluptatem sequi nesciunt, neque porro quisquam est.</textarea><span class="my-button">
          <img onclick="startDictation()" src="//i.imgur.com/cHidSVu.gif" style="float: right; width: 40px;" />
          <button id="" onclick="startDictation()" class="button" >Click Here</button></span></div> </div>
  </form>
      <div class="fakeimg-part"> <div class="my-vid">
      <video id="video1" width="600" height="350" controls autoplay>

</video>

<p>
Watch The Video Now!
</p></div></div>
	  </div>
      <hr class="hr-tag"> </hr>
      <h2 class="about-app">Application Features</h2>
      <h5 class="app-desc">Title description, March 4, 2018</h5>
      <div class="features">
	  <div class="feature-sec">
	  <div id="main">
	  <div class="my-icon" style="width: 200px; height: 200px;background-position:center;background-repeat:no-repeat;background-image:url('{{ request.static_url('back_end_v2:static/css1/css1/icon1.png') }}')"> <p class="feature-title">Unique Elements</p> </div>
	
	  </div>


	  </div>
	  <div class="feature-sec">
	  <div id="main">
	  <div class="my-icon" style="width: 200px; height: 200px;background-position:center;background-repeat:no-repeat; background-image:url('{{ request.static_url('back_end_v2:static/css1/css1/icon2.png') }}')"> <p class="feature-title">High Performance</p>
	  </div> 
	
	  </div>
	  </div>
	  <div class="feature-sec">
	 <div id="main">
	  <div class="my-icon" style="width: 200px; height: 200px;background-position:center;background-repeat:no-repeat;background-image:url( '{{ request.static_url('back_end_v2:static/css1/css1/icon3.png') }}')"> <p class="feature-title">Powerful Options</p>
	  </div> 
	
	  </div>
	  </div>
	  </div>
	  
      
  </div>
</div>
<hr class="hr-tag"> </hr>
<h2 id="About" class="about-app"> About </h2>
      <h5 class="app-desc">Title description, March 3, 2018</h5>
      
	  <div class="fakeimg" width="100%">
	  <div class="fakeimg-part"><div class="about-text"><p>Adedoyin Ademola is a student of Middlesex University Malta. He is in his final year
          and this is his thesis. He built a webapp to help translate english text to ASL within a couple of months</p></div> </div>
	  <div class="fakeimg-part"> <div class="my-img"> 
		<img src='{{ request.static_url('back_end_v2:static/css1/css1/mypich.jpg') }}' width="350" height="350" alt="My picture">
		<p class="about-img">
Adedoyin Ademola <span class="name-style">The Developer </span>
</p>
		
		</div>
	  
	  
</div>
	  </div>
	  
<div id="contact" class="contact">
<div class="contact-sec"> An app created with the purpose to aid </br> communication
    between the deaf and non deaf. </br>I am really happy with this </br> </br>This project will save money</br>
	  and also aid communication </br> </div>
<div class="contact-sec">
<p>Contact</p>
Address: Malta Bugibba </br>
Email: @mxdx.live.ac.uk </br>
Phone: +234 705 194 3245</br></br>

Monday-Friday: 10am to 8pm
</div>


</div>
</div>

<div class="footer" width="100%">
  <div class="footer-sec">
  <li class="sec-menu">
  <ul>Home</ul>
  <ul>About</ul>
  <ul>Contact</ul>
  </div>
  <div class="footer-sec">
  <div class="bottom-logo">LOGO</div>
  </div>
  <div class="copyright">© 2017-2018 XYZ Inc. Maker of Premium Application & Extensions All Rights Reserved.</div>
  
  
  
  
</div>
<div>

{#<link rel="stylesheet" type="text/css" href="http://localhost:6544/_debug_toolbar/static/toolbar/toolbar_button.css">#}
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

{#<div id="pDebug">#}
{#    <div  id="pDebugToolbarHandle">#}
{#        <a title="Show Toolbar" id="pShowToolBarButton"#}
{#           href="http://localhost:6544/_debug_toolbar/32333832323531383137373238" target="pDebugToolbar">&#171;</a>#}
{#    </div>#}
{#</div>#}
</div>
</body>
<script src="http://localhost:6544/static/js/js/home_js.js"></script>
<script
  src="http://code.jquery.com/jquery-2.2.4.js"
  integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
  crossorigin="anonymous">
</script>
<script> src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"</script>
<script>
    console.log('{{ request.static_url('back_end_v2:static/home') }}');
    let spee = "hello";
    function startDictation() {
        if (window.hasOwnProperty('webkitSpeechRecognition')) {

      const recognition = new webkitSpeechRecognition();
{# continuous can be false... meaning it will end once the user stops talking#}
      recognition.continuous = true;
      recognition.interimResults = false;
      recognition.lang = "en-US";
      recognition.start();

      recognition.onresult = function(e) {
        document.getElementById('transcript').value
                                 = e.results[0][0].transcript;
        let s = e.results[0][0].transcript;
        recognition.stop();
        console.log(e.results[0]);
        document.getElementById('labnol').submit();
      };

      recognition.onerror = function(e) {
        recognition.stop();
      }
    }
    else{
            upgrade();
        }
    }
    document.getElementById('transcript').value
                                 = 'Your requested sentence is "{{ original_sentence }}" and the translated sentence is {{ gloss }}\n' +
                                    'and the step used was "{{ step }}"';


function tes(length) {
    console.log('{{ original_sentence }}');
    sen  = '{{ sentence }}';
    console.log(spee);
    if(length < 2){
        if(sen == 'None'){
            let myvid = document.getElementById('video1');
            myvid.style.visibility = "hidden"
        }
        else{
                document.getElementById("video1").src=`http://localhost:6544/static/videos/{{ sentence }}`;
        }

    }
    else if(length>1){
        let myvid = document.getElementById('video1');
        let myvids = '{{ sentence }}'.split(" ");
        document.getElementById("video1").src='http://localhost:6544/static/img/'+(myvids[0]);
        let activeVideo = 1;
        myvid.addEventListener('ended', function(e) {
            --activeVideo;
            ++activeVideo;
          activeVideo = (activeVideo) % {{ length }};
          // update the video source and play
          myvid.src = 'http://localhost:6544/static/img/' + (myvids[activeVideo]) ;
          myvid.play();
          ++activeVideo;
          let delayInMilliseconds = 1800;
          if(activeVideo == {{ length }}){
              setTimeout(function() {
                  myvid.pause();
                }, delayInMilliseconds);
          }
        });
    }
}

tes({{ length }});


</script>
</html>
